<div class="col-md-6 col-md-offset-3">
  <h1>Links</h1>
  <hr>
  <table>
    <% @posts.each do |p| %>
    <tr>
      <td>

        <%= bootstrap_form_for [p,@vote] do |f| %>
          <%= f.hidden_field :value, value: '1' %>
          <%= f.button '', class: 'btn btn-link glyphicon glyphicon-arrow-up' %>
        <% end %>
        <%= bootstrap_form_for [p,@vote] do |f| %>
          <%= f.hidden_field :value, value: '-1' %>
          <%= f.button '', class: 'btn btn-link glyphicon glyphicon-arrow-down' %>
        <% end %>
      </td>
      <td>
        <strong> <p> <%= link_to p.title, p.link %></strong></p>
        <p> <strong>
          <%= p.votes.reduce(0) do |sum,num| %>
              <% sum += num['value'] unless num['value'] == nil%>
          <% end %>

            points</strong> | <%= link_to "Edit", edit_post_path(p.id) %> |
          <%= link_to "Delete", p, :method => "delete", :confirm => "Are you sure?" %> |
          <%= link_to "Comments", post_comments_path(p) %>
        </p>
      </td>

    </tr>
    <% end %>
  </table>
</div>